<div class="panel panel-warning">
  <div class="panel-heading"> <%=link_to( "#{argument.title}",argument) %></div>
  <div class="panel-body">

 
<!-- </div> -->

<!-- <div class="argument <%="completed" if argument.voting_complete %>"> -->
 <!--  <h3>
    <%=link_to( "#{argument.title}",argument) %>
  </h3> -->
  <p>
    <span class="bolden">Posted by:</span> <%= link_to("#{argument.user.username}", argument.user) if argument.user %>
  </p>
  <p>
    <span class="bolden">Posted:</span> <%=argument.created_at.strftime "%A, %d %b %Y %l:%M %p"%>
  </p>
  <p>
    <span class="bolden">Voting concluded?: </span><%= argument.complete? %>
  </p>
  <p>
    <span class="bolden">Content:</span><br><%= argument.content %>
  </p>

  <div class="votesfor">
    <p>
      <span class="bolden">Votes for: </span> <%= argument.for %>
    </p>
  </div>
  <div class="votesagainst">
    <p>
      <span class="bolden">Votes against: </span><%= argument.against %>
    </p>
  </div>

  <% if @current_user && argument.user_id == @current_user.id %>
      <%= button_to('Delete Argument',argument,:method => :delete) %>
  <% elsif @current_user %>
  <% if !argument.voting_complete && !(argument.votes.any? {|v| v[:user_id] == @current_user.id }) %>
      <%= button_to('Vote for this!', argument_for_path(argument.id),:method => :post) %>
      <%= button_to('Vote against this!', argument_against_path(argument.id),:method => :post) %>
      <% end %>
  <% end %>
   </div>

</div>