<h3>Arguments</h3>
<p><span class="createArg"><%= link_to('New argument',new_argument_path) %></span></p>

<% @arguments.each do |a| %>
  <div class="argument">
    <p><span class="bolden">Poster of argument:</span><br> <%= a.user.username if a.user %></p>
    <p><span class="bolden">Posted at:</span><br> <%= a.created_at %></p>
    <p><span class="bolden">Has voting concluded for this argument?:</span><br> <%= a.voting_complete %></p>
    <p><span class="bolden">Content:</span><br><%= a.content %></p>
  </div>
<% end %>