<h3>Arguments</h3>
<p><span class="createArg"><%= link_to('New argument',new_argument_path) %></span></p>

<% @arguments.each do |a| %>
  <div class="argument">
    <p>Poster of argument: <%= a.user.username if a.user %></p>
    <p>Posted at: <%= a.created_at %></p>
    <p>Has voting concluded for this argument? <%= a.voting_complete %></p>
    <p>Content:<br><%= a.content %></p>
  </div>
<% end %>