<div class="user">
  
<p>
  <span class="bolden">Username:</span>
  <%= link_to("#{user.username}",user) %>
</p>
<p>
  <span class="bolden">Times Votes: </span><%= user.votes.count %>
</p>
<p>
  <span class="bolden">Times voted correctly: </span><%= user.votes_correct %>
</p>
<p>
  <span class="bolden">Arguments posted: </span><%= user.arguments.count %>
</p>
<p>
  <span class="bolden">Arguments Won: </span> <%= user.arguments_won %>
</p>


</div>