<div class="user">
  
<h3>
  <%= link_to("#{user.username}",user) %>
</h3>
<p>
  <span class="bolden">Times Voted: </span><%= user.votes.count %>
</p>
<p>
  <span class="bolden">Times voted correctly: </span><%= user.votes_correct %>
</p>
<p>
  <span class="bolden">Arguments posted: </span><%= user.arguments.count %>
</p>
<p>
  <span class="bolden">Arguments Won: </span> <%= user.arguments_won %>
</p>


</div>