<h3>List of Accounts</h3>

<div class="order">
  <%= link_to('Most popular',"/?order=popular") %>
  <%= link_to('Least popular',"/?order=leastpop") %>
  <%= link_to('Created most recently',"/?order=recent") %>
  <%= link_to('Created earliest',"/?order=earliest") %>
  <%= link_to('Voting complete',"/?order=voted") %>
  <%= link_to("Default order",arguments_path)  %>
</div>

<%= render :partial => 'user', collection: @users %> 