<h3>Users</h3>

<div class="order">
  <%= link_to('Most votes placed','/users?order=mvp') %>
  <%= link_to('Most votes correct', '/users?order=mvc') %>
  <%= link_to('Most arguments posted','/users?order=map') %>
  <%= link_to('Most arguments won','/users?order=maw') %>
  <%= link_to("Default order",users_path)  %>
</div>

<%= render :partial => 'user', collection: @users %> 