<!DOCTYPE html>
<html>
<head>
  <title>Judgement Day</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mainContainer">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <ul>
      <p class="navbar-text"></span>Judgement Day <span class="glyphicon glyphicon-scale" aria-hidden="true"></p>
      <li><%= link_to('View arguments', root_path) %></li>
      <li><%= link_to('View users',users_path) %></li>
        <% if @current_user.present? %>
        <li><%= link_to('New argument',new_argument_path) %></li>
        <li class='pull-right'><%= link_to("Log out",login_path, :method => :delete) %></li>
        <li class='pull-right'><%= link_to("Edit #{@current_user.username}", edit_user_path(@current_user)) %></li>
        <li class='pull-right signedin'><%= @current_user.username %> logged in</li>
      <% else %>
        <li class='pull-right'><%= link_to('Create Account', new_user_path) %></li>
        <li class='pull-right'><%= link_to('Login',login_path) %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>

</div>

<!-- disqus -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'project1qwerty';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</body>
</html>
